<component name="libraryTable">
  <library name="Web">
    <CLASSES>
      <root url="jar://$teamcitydistribution$/lib/servlet-api.jar!/" />
      <root url="jar://$teamcitydistribution$/webapps/ROOT/WEB-INF/lib/spring-webmvc.jar!/" />
      <root url="jar://$teamcitydistribution$/webapps/ROOT/WEB-INF/lib/spring.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>